<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="h-90 col-10 my-2">
		<div class="bg-light shadow rounded my-5 p-3">
			<!-- 상단 제목 -->
			<div class="rounded mt-5 shadow-sm main-title text-center">
				<span class="display-3 font-weight-bolder">Welcome to MarkPost!</span>
			</div>
			
			<!-- 배너 이미지 -->
			<div class="mt-4">
				<img src="/img/main.png" alt="메인 배너 이미지" width="100%" height="" 
				class="rounded shadow-sm">
			</div>
			
			<!-- 인기 게시판/게시글 -->
			<div class="mt-4 mb-5 rounded shadow d-flex justify-content-around py-3">
				<!-- 최신 게시판(작성글+댓글 수 많은 순서) -->
				<aside class="rounded shadow col-5 overflow-auto">
					<h3>최신 게시판</h3>
					<table class="table">
						<tbody>
							<tr th:each="board : ${top5BoardList}" class="shadow-sm rounded">
								<td>
									<a th:href="|/board/post-list-view?boardId=${board.board.id}|" class="text-dark font-weight-bold">
										<span th:text="|${board.board.name} 게시판|" ></span>
									</a>
								</td>
								<td>
									<div class="d-flex">
										<th:block th:if="${board.hasIngameTag}">
											<div class="bg-warning rounded shadow-sm mr-1 p-1">인게임거래</div>
										</th:block>
										<th:block th:if="${board.hasRealTag}">
											<div class="bg-orange rounded shadow-sm p-1">실물거래</div>
										</th:block>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</aside>
				<!-- 최신 게시글(좋아요 수 많은 순서) -->
				<aside class="rounded shadow col-5 overflow-auto">
					<h3>최신 게시글</h3>
					<table class="table">
						<tbody>
							<tr th:each="post : ${top5PostList}" class="shadow-sm rounded">
								<td>
									<span th:text="|(${post.boardName})|" 
									class="text-secondary small"></span>
								</td>
								<td>
									<a th:href="|/post/post-detail-view?postId=${post.postId}|" class="text-dark">
										<span th:text="${post.postName}" class="text-overflow font-weight-bold"></span>
									</a>
								</td>
								<td>
									<span th:text="${#temporals.format(post.createdAt, 'yyyy.MM.dd HH:mm')}" 
									class="small text-secondary"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</aside>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	
    </script>
</th:block>