<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markepost.post.mapper.PostMapper">
	<insert id="insertNormalPost" 
	parameterType="com.markepost.post.domain.Post" 
	useGeneratedKeys="true" 
	keyProperty="id" 
	keyColumn="id">
		INSERT INTO `post`
		(
			`boardId`
			, `userId`
			<if test="tagId != null">
			, `tagId`
			</if>
			, `subject`
			, `content`
			, `isDeleted`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{boardId}
			, #{userId}
			<if test="tagId != null">
			, #{tagId}
			</if>
			, #{subject}
			, #{content}
			, false
			, NOW()
			, NOW()
		)
	</insert>
	<insert id="insertMarketPost" 
	parameterType="map">
		INSERT INTO `marketPost`
		(
			`postId`
			, `itemName`
			, `price`
			, `isDone`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{postId}
			, #{itemName}
			, #{price}
			, #{isDone}
			, NOW()
			, NOW()
		)
	</insert>
	<select id="count" 
	parameterType="map" 
	resultType="int">
		SELECT
			COUNT(*)
		FROM
			`post`
		WHERE
			`boardId` = #{boardId}
			AND `isDeleted` = true
			<if test="tagId != null">
			AND `tagId` = #{tagId}
			</if>
			<if test="subjectText != null">
			AND `subject` LIKE '%${subjectText}%'
			</if>
			<if test="userIdList != null and userIdList.size > 0">
			AND `userId` IN
			<foreach collection="userIdList" item="userId"  open="(" separator="," close=")">
				#{userId}
			</foreach>
			</if>
	</select>
	<select id="selectPostSearchDTO" 
	parameterType="map" 
	resultType="com.markepost.post.domain.Post">
		SELECT
			`id`
			, `boardId`
			, `userId`
			, `tagId`
			, `subject`
			, `content`
			, `isDeleted`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`boardId` = #{boardId}
			AND `isDeleted` = false
			<if test="tagId != null">
			AND `tagId` = #{tagId}
			</if>
			<if test="subjectText != null">
			AND `subject` LIKE '%${subjectText}%'
			</if>
			<if test="userIdList != null and userIdList.size > 0">
			AND `userId` IN
			<foreach collection="userIdList" item="userId"  open="(" separator="," close=")">
				#{userId}
			</foreach>
			</if>
			ORDER BY `id` DESC
			LIMIT #{pageSize}
			OFFSET #{offset}
	</select>
	<select id="selectPostById" 
	parameterType="int" 
	resultType="com.markepost.post.domain.Post">
		SELECT
			`id`
			, `boardId`
			, `userId`
			, `tagId`
			, `subject`
			, `content`
			, `isDeleted`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
	</select>
	<select id="selectMarketPostById" 
	parameterType="int" 
	resultType="com.markepost.post.domain.MarketPost">
		SELECT
			`postId`
			, `itemName`
			, `price`
			, `isDone`
			, `createdAt`
			, `updatedAt`
		FROM
			`marketPost`
		WHERE
			`postId` = #{postId}
	</select>
	<update id="updateMarketPostIsDone" 
	parameterType="map">
		UPDATE
			`marketPost` AS `m`
		JOIN
			`post` AS `p`
			ON
				`m`.`postId` = `p`.`id`
		SET
			`m`.`isDone` = true
		WHERE
			`m`.`postId` = #{postId}
			AND `p`.`userId` = #{userId}
	</update>
	<update id="updatePost" 
	parameterType="com.markepost.post.domain.Post">
		UPDATE
			`post`
		SET
			`subject` = #{subject},
			`content` = #{content},
			`updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
	<update id="updateMarketPost" 
	parameterType="com.markepost.post.domain.MarketPost">
		UPDATE
			`marketPost`
		SET
			`itemName` = #{itemName},
			`price` = #{price},
			`updatedAt` = NOW()
		WHERE
			`postId` = #{postId}
	</update>
	<update id="updatePostIsDeleted" 
	parameterType="int">
		UPDATE
			`post`
		SET
			`isDeleted` = true
		WHERE
			`id` = #{postId}
	</update>
	<select id="getTop5PostList" 
	parameterType="Integer" 
	resultType="com.markepost.post.domain.Post">
		SELECT
			`id`
			, `boardId`
			, `userId`
			, `tagId`
			, `subject`
			, `content`
			, `isDeleted`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`isDeleted` = false
		<if test="userId != null">
			AND `userId` = #{userId}
		</if>
		ORDER BY `id` DESC
		LIMIT 5
	</select>
</mapper>