<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div th:text="${suspendMessage}" id="suspendMessage" hidden></div>
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
    		let suspendMessage = $('#suspendMessage').text();
    		if (suspendMessage) {
                alert(suspendMessage); // 메시지 출력
                location.href = "/"; // 메인 화면으로 이동
            }
    	});
    </script>
</th:block>