<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="h-90 col-10 my-2">
		<div class="bg-light shadow rounded my-5 p-3">
			<!-- 상단부 -->
			<div>
			<!-- 프로필 사진, 이름, 자기소개, 설정메뉴 -->
				<div class="d-flex  align-items-center justify-content-between">
				 <div class="d-flex">
					<div class="d-flex align-items-center">
						<!-- 프로필 사진 -->
						<!-- 사진 있을 때 -->
						<th:block th:if="${boardDetailDTO.board.imagePath} != null">
							<img th:src="${boardDetailDTO.board.imagePath}" alt="게시판 프로필 이미지" 
							height="35" width="35" class="img-circle shadow mr-2">
						</th:block>
						<!-- 사진 없을 땐 그냥 표시 X -->
					</div>
					<!-- 이름 -->
					<a th:href="|/board/post-list/search?boardId=${boardDetailDTO.board.id}|" class="text-dark">
						<h1><span th:text="${boardDetailDTO.board.name}"></span> 게시판</h1>
					</a>
						
					<!-- 게시판 소개 -->
					<div class="d-flex align-items-end">
						<h5 th:text="${boardDetailDTO.board.introduce}" class="text-secondary ml-1"></h5>
					</div>
				</div>
				<!-- 설정 버튼 -->
				<div th:if="${boardDetailDTO.isAdmin}">
					<a th:href="|/admin/board/board-setting-view?boardId=${boardDetailDTO.board.id}|">
						<img src="https://www.iconninja.com/files/860/824/939/more-icon.png" alt="게시판 정보수정 버튼" height="30">
					</a>
				</div>
			</div>
				<!-- 태그 메뉴바 -->
				<div class="d-flex flex-wrap mt-2">
					<th:block th:each="tag : ${boardDetailDTO.tags}">
						<!-- 일반 태그 => 회색 -->
						<a th:if="${tag.tagType.name() == 'NORMAL'}" th:data-tag-id="${tag.id}"
						class="rounded bg-secondary p-1 mr-1 mb-1 shadow-sm text-white drag-prevent tagBtn" th:text="${tag.tagName}"></a>
						<!-- 인게임 태그 => 노랑 -->
						<a th:if="${tag.tagType.name() == 'INGAME'}"  th:data-tag-id="${tag.id}"
						class="rounded bg-warning p-1 mr-1 mb-1 shadow-sm text-dark drag-prevent tagBtn" th:text="${tag.tagName}"></a>
						<!-- 실물 태그 => 오렌지 -->
						<a th:if="${tag.tagType.name() == 'REAL'}"  th:data-tag-id="${tag.id}"
						class="rounded bg-orange bg-orange-hover p-1 mr-1 mb-1 shadow-sm text-dark drag-prevent tagBtn" th:text="${tag.tagName}"></a>
					</th:block>		
				</div>
					
				<!-- 글 목록 -->
				<div class="overflow-auto">
					<table class="table">
						<thead>
							<tr>
								<th>No.</th>
								<th><!-- 태그 --></th>
								<th>제목<!-- & 좋아요 --></th>
								<th>글쓴이</th>
								<th>작성일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="post, status : ${posts.getItems()}">
								<!-- 게시글 번호 -->
								<td th:text="${post.postId}"></td>
								<!-- 게시글 태그 -->
								<td>
									<div class="d-flex justify-contetn-center">
										<th:block th:if="${post.tag} != null">
											<!-- 일반 태그 => 회색 -->
											<div th:if="${post.tag.tagType.name() == 'NORMAL'}" 
											class="rounded bg-secondary p-1 shadow-sm text-white" th:text="${post.tag.tagName}"></div>
											<!-- 인게임 태그 => 노랑 -->
											<div th:if="${post.tag.tagType.name() == 'INGAME'}" 
											class="rounded bg-warning p-1 shadow-sm" th:text="${post.tag.tagName}"></div>
											<!-- 실물 태그 => 오렌지 -->
											<div th:if="${post.tag.tagType.name() == 'REAL'}" 
											class="rounded bg-orange p-1 shadow-sm" th:text="${post.tag.tagName}"></div>
										</th:block>
									</div>
								</td>
								<!-- 게시글 제목 & 좋아요 -->
								<td>
									<div class="d-flex">
										<a th:href="|/post/post-detail-view?postId=${post.postId}|" 
										class="text-dark">
											<th:block th:if="${post.isDone}">
												<span th:text="${post.subject}" class="text-secondary text-line-through text-overflow"></span>
											</th:block>
											<th:block th:unless="${post.isDone}">
												<span th:text="${post.subject}" class="text-overflow"></span>
											</th:block>
											 ♥<span th:text="${post.likeCount}"></span>
										</a> 
									</div>
								</td>
								<!-- 게시글 작성자 -->
								<td>
									<div class="d-flex align-items-center">
										<a th:text="${post.writerName}" th:href="|/user/userpage-view?userId=${post.writerId}|" class="text-dark mr-1"></a>
										<!-- 인증된 유저 -->
										<img th:if="${post.isConfirmedUser}"  src="/img/confirmed.png" height="18" width="18">
										<!-- main Admin -->
										<img th:if="${post.isAdmin && post.isMain}" src="/img/admin.png" height="18" width="18">
										<!-- sub Admin -->
										<img th:if="${post.isAdmin && !post.isMain}" src="/img/subAdmin.png" height="18" width="18">
									</div>
								</td>
								<!-- 작성일 -->
								<td>
									<!-- 오늘인 경우 -->
									<th:block th:if="${#temporals.format(post.createdAt, 'yyyy-MM-dd') == #temporals.format(nowDate, 'yyyy-MM-dd')}">
										<span th:text="${#temporals.format(post.createdAt, 'HH:mm')}"></span>
									</th:block>
									<!-- 날짜가 지난 경우 -->
									<th:block th:unless="${#temporals.format(post.createdAt, 'yyyy-MM-dd') == #temporals.format(nowDate, 'yyyy-MM-dd')}">
										<span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
									</th:block>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
						
				<!-- 페이지 기능 & 글 등록 버튼 -->
				<div class="d-flex justify-content-between">
					<!-- 칸 채우기용 -->
					<div></div>
					<!-- 페이지 기능 -->
					<div>
						<div>
				    		<div class="d-flex justify-content-center">
				        		<a th:if="${posts.nowPage > 1}" id="prevBtn" class="text-primary drag-prevent">Previous</a>
					    		<span th:text="'Page ' + ${posts.nowPage} + ' of ' + ${posts.totalPages}" class="mx-3"></span>
				        		<a th:if="${posts.nowPage < posts.totalPages}" id="nextBtn" class="text-primary drag-prevent">Next</a>
				    		</div>
						</div>
					</div>
					<!-- 글 등록 -->
					<div>
						<a th:href="|/post/create-post-view?boardId=${boardDetailDTO.board.id}|" class="btn btn-success shadow-sm">글 등록</a>
					</div>
				</div>
					
				<!-- 검색창 -->
				<div class="d-flex justify-content-center mt-3">
					<div class="input-group col-10">
						<div class="input-group-prepand">
							<select class="form-control" id="searchType">
								<option value="subject" th:selected="${searchType == 'subject'}">제목</option>
								<option value="userName" th:selected="${searchType == 'userName'}">작성자</option>
							</select>
						</div>
						<input type="text" id="searchString" class="form-control" placeholder="검색어를 입력하세요."
						th:value="${searchString}">
	  					<div class="input-group-append">
		  					<button type="submit" class="btn btn-primary" id="nameSearchBtn">검색</button>
	  					</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
    		let boardId = [[${boardDetailDTO.board.id}]];
    		let tagId = [[${tagId}]];
    		let page = [[${posts.nowPage}]];
    		let searchType;
    		let searchString;
    		// 공통 데이터 추출 함수
    		
    	    function getData() {
				searchType = $('#searchType').val();
				searchString = $('#searchString').val();
    	    }
    		
    	 	// 공통 Get 요청 함수
    	    function sendGetRequest() {
    	        let url = "/board/post-list/search?boardId=" + boardId
    	        		+ "&page=" + page;
    	        if(tagId != 0 && tagId != null) {
    	        	url = url + "&tagId=" + tagId;
    	        }
    	        if(searchString != null && searchString != '') {
    	        	url = url + "&searchType=" + searchType
    	        		+ "&searchString=" + searchString;
    	        }
    	        location.href = url;
    	    }
    		
    		// 1. 태그 버튼이 눌렸을 때 (tagId 바꿔주기)
    		$('.tagBtn').on('click', function(e) {
    			e.preventDefault();
    			tagId = $(this).data('tag-id');
    			// alert(tagId + '로 태그 아이디 바꿀거야');
    			
    			getData();
    			sendGetRequest();
    		});
    		
    		// 2. 페이지 버튼이 눌렸을 때 (page 값 증감)
    		// 2-1. Previous (page - 1)
    		$('#prevBtn').on('click', function(e) {
    			e.preventDefault();
    			page--;
    			
    			getData();
    			sendGetRequest();
    		});
    		
    		// 2-2. Next (page + 1)
    		$('#nextBtn').on('click', function(e) {
    			e.preventDefault();
    			page++;
    			
    			getData();
    			sendGetRequest();
    		});
    		
    		// 3. 검색 버튼이 눌렸을 때 (페이지 태그 초기화)
    		$('#nameSearchBtn').on('click', function() {
    			page = 1;
    			tagId = null;
    			
    			getData();
    			sendGetRequest();
    		});
    	});
    </script>
</th:block>