<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="h-90 col-10 my-2">
		<div class="bg-light shadow rounded my-5 p-3">
			<h1><span th:text="${boardName}"></span> 게시판 글 작성</h1>
			<!-- 태그 & 제목 -->
			<div class="d-flex">
				<!-- 태그 -->
				<select id="tagSelect" class="form-control col-2">
					<option value="NULL" data-tag-id=0>태그</option>
					 <th:block th:each="tag : ${postTagDTOList}">
					 	<option th:value="${tag.tagTradeType}" th:text="${tag.tagName}"
					 	th:data-tag-id="${tag.id}"></option>
					 </th:block>
				</select>
				<!-- 제목 -->
				<input type="text" id="subject" class="form-control col-10">
			</div>
			
			<!-- 글 작성 부분 -->
			<div class="mt-3">
				<!-- 일반글 부분 -->
				<div id="normal">
					<textarea id="noarmalContent" class="form-control" rows="10"></textarea>
				</div>
				<!-- 이미지 등록 -->
				<div class="my-2">
					<!-- 이미지 -->
					<div id="imageList">
						<div class="input-group mb-2 imageFile">
							<input type="file" class="file" accept=".jpg, .png, .gif">
						</div>
					</div>
					
					<!-- 이미지 추가하기 -->
					<button type="button" class="btn btn-warning">이미지 추가</button>
				</div>
				<!-- 거래글 부분 -->
				<div id="market" class="d-none">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
    						<span class="input-group-text">상품명</span>
  						</div>
    						<input type="text" id="itemName" class="form-control">
					</div>
					
					<div class="input-group mb-2">
						<div class="input-group-prepend">
    						<span class="input-group-text">가격</span>
  						</div>
						<input type="number" id="price" class="form-control">
						<div class="input-group-append">
							<button type="button" id="priceTogleBtn" class="btn btn-secondary">가격없음</button>
						</div>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
    						<span class="input-group-text">설명</span>
  						</div>
						<textarea id="marketContent" class="form-control" rows="10"></textarea>
					</div>
				</div>
			</div>
			
			<!-- 목록으로 & 등록하기 -->
			<div class="d-flex justify-content-between mt-3">
				<a th:href="|/board/post-list-view?boardId=${boardId}|" class="btn btn-secondary shadow-sm">목록으로</a>
				<button type="button" id="postSubmitBtn" class="btn btn-primary shadow-sm" th:data-board-id="${boardId}">등록하기</button>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
    		// 이미지 추가/제거를 위한 초기 변수 설정
    		const maxImage = 5;
    		let imageCount = 1;
    		
    		// 이미지 추가 버튼
    		$('#imagePlusBtn').on('click', function(e) {
    			e.preventDefault();
    			
    			// iamgeCount가 maxImage보다 작을 때만 늘리기
    			if (imageCount < maxImage) {
    				imageCount++;
    				
    				$('#imageList').append(`
    					<div class="d-flex mb-2 imageFile">
							<input type="file" class="file mr-2" accept=".jpg, .png, .gif">
							<button type="button" class="btn btn-danger imageDeleteBtn">삭제</button>
						</div>
    						`)
    			}
    		});
    		
    		// 이미지 삭제 버튼
    		$(document).on('click', '.imageDeleteBtn', function() {
    			// alert('삭제');
    			$(this).closest('.imageFile').remove();
    			imageCount--;
    		})
    		
    		// 태그 바뀔때 작성 양식 바꾸기
    		$('#tagSelect').on('change', function() {
    			$('#normal').addClass('d-none');
    			$('#market').addClass('d-none');
    			$('#price').val('');
    			$('#price').attr('disabled', false);
    			$('#priceTogleBtn').attr('disabled', false);
    			
    			let tagType = $(this).val();
    			// alert(tagType);
    			
    			if(tagType == 'NULL' || tagType == 'NORMAL') {
    				$('#normal').removeClass('d-none');
    			} else {
    				$('#market').removeClass('d-none');
    				let tradeType = tagType.split('/')[1];
    				if(tradeType == 'EXCHANGE') {
    					$('#price').attr('disabled', true);
    	    			$('#priceTogleBtn').attr('disabled', true);
    				}
    			}
    		});
    		
    		// 가격없음 토글
    		$('#priceTogleBtn').on('click', function() {
    			if($('#price').attr('disabled')) {
    				$('#price').attr('disabled', false);
    			} else {
    				$('#price').val('');
    				$('#price').attr('disabled', true);
    			}
    		});
    		
    		// 게시글 등록
    		$(document).on('click', '#postSubmitBtn', function() {
    			let boardId = $('#postSubmitBtn').data('board-id');
    			// alert(boardId);
    			let tagId = $('#tagSelect option:selected').data('tag-id');
    			// alert(tagId);
    			let subject = $('#subject').val();
    			let files = [];
    			
    			// 제목 validation
    			if(!subject) {
    				alert('제목을 입력하세요');
    				return;
    			}
    			
    			// 이미지 등록 및 validation
    			$('.file').each(function() {
    				if($(this).val()) {
        				// alert('이미지 있다');
        				let extension = $(this).val().split('.').pop().toUpperCase();
        				// console.log(extension);
        				if($.inArray(extension, ['JPG', 'PNG', 'GIF']) == -1) {
        					// 배열중에 있을 시에는 index 번호, 없으면 -1
        					alert('이미지 파일(jpg, png, gif)만 업로드 할 수 있습니다.');
        					$(this).val('');
        					return;
        				}
    				files.push($(this)[0].files[0]);
        			}
    			});
    			
    			// console.log(files);
    			
    			let formData = new FormData();
    			formData.append('boardId', boardId);
    			formData.append('tagId', tagId);
    			formData.append('subject', subject);
    			files.forEach((item) => {
    				formData.append('files', item);
    			});
    			if($('#normal').hasClass('d-none')) {
    				// 노말이 d-none 되어있다 => 거래글
    				let itemName = $('#itemName').val();
    				let price = $('#price').val();
    				let marketContent = $('#marketContent').val();
    				
    				// validation
    				if (!itemName) {
    					alert('상품명을 입력해주세요')
    					return;
    				}
    				if (!marketContent) {
    					alert('설명란을 입력해주세요')
    					return;
    				}
    				
    				formData.append('itemName', itemName);
    				formData.append('price', price);
    				formData.append('content', marketContent);
    				
    				// AJAX
    				$.ajax({
    					type:'POST'
    					, url: '/post/create-normal'
    					, data:formData
    	    			, processData:false
    	    			, contentType:false
    	    			, enctype:"multipart/form-data"
    	    			, success:function(data) {
    	    				if(data.code == 200) {
    	    					if(data.untilTime != null) {
    	    						// 게시글 정지를 당한 유저
    	    						alert(data.error_message + "\n정지 기간: " + data.untilTime);
    	    					} else {
    	    						// 등록 성공
    	    						location.href = '/board/post-list-view?boardId=' + boardId;
    	    					}
    	    				} else {
    	    					alert(data.error_message)
    	    				}
    	    			}
    					, error:function(e) {
    						alert('거래글 작성 중 문제가 발생하였습니다.');
    					}
    				});
    				
    				
    			} else {
    				// 일반글
    				let normalContent = $('#noarmalContent').val();
    				// console.log(normalContent);
    				
    				// validation
    				if (!normalContent) {
    					alert('본문을 입력해주세요')
    					return;
    				}
    				
    				formData.append('content', normalContent);
    				
    				// AJAX
    				$.ajax({
    					type:'POST'
    					, url: '/post/create-normal'
    					, data:formData
    	    			, processData:false
    	    			, contentType:false
    	    			, enctype:"multipart/form-data"
    	    			, success:function(data) {
    	    				if(data.code == 200) {
    	    					if(data.untilTime != null) {
    	    						// 게시글 정지를 당한 유저
    	    						alert(data.error_message + "\n정지 기간: " + data.untilTime);
    	    					} else {
    	    						// 등록 성공
    	    						location.href = '/board/post-list-view?boardId=' + boardId;
    	    					}
    	    				}
    	    			}
    					, error:function(e) {
    						alert('게시글 작성 중 문제가 발생하였습니다.');
    					}
    				});
    			}
    		});
    	});
    </script>
</th:block>