<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="h-90 col-10 my-2">
		<div class="bg-light shadow rounded my-5 p-3">
			<!-- 상단부 (태그 제목) -->
			<div class="d-flex justify-content-start align-items-center">
				<!-- 태그 -->
				<th:block th:if="${postDetail.tag} != null">
					<!-- 일반 태그 => 회색 -->
					<div th:if="${postDetail.tag.tagType.name() == 'NORMAL'}"
					class="rounded bg-secondary p-1 mr-2 mb-1 shadow-sm text-white drag-prevent" th:text="${postDetail.tag.tagName}"></div>
					<!-- 인게임 태그 => 노랑 -->
					<div th:if="${postDetail.tag.tagType.name() == 'INGAME'}"
					class="rounded bg-warning p-1 mr-2 mb-1 shadow-sm text-dark drag-prevent" th:text="${postDetail.tag.tagName}"></div>
					<!-- 실물 태그 => 오렌지 -->
					<div th:if="${postDetail.tag.tagType.name() == 'REAL'}"
					class="rounded bg-orange p-1 mr-2 mb-1 shadow-sm text-dark drag-prevent" th:text="${postDetail.tag.tagName}"></div>
				</th:block>
				<!-- 제목 -->
				<h1><span th:text="${postDetail.post.subject}"></span></h1>
				<span th:if="${postDetail.post.createdAt != postDetail.post.updatedAt}" 
				class="text-secondary">
				(수정됨)
				</span>
			</div>
			<hr>
			<!-- 작성자 & 작성일 -->
			<div class="d-flex justify-content-between align-items-center font-weight-bold">
				<!-- 작성자 -->
				<div class="d-flex">작성자: 
					<a th:href="|/user/userpage-view?userId=${postDetail.user.id}|" 
					class="ml-1">
						<span th:text="${postDetail.user.name}" class="text-dark"></span>
						<!-- 인증된 유저 -->
						<img th:if="${postDetail.isConfirmedUser}"  src="/img/confirmed.png" height="18" width="18">
						<!-- main Admin -->
						<img th:if="${postDetail.isAdmin && postDetail.isMain}" src="/img/admin.png" height="18" width="18">
						<!-- sub Admin -->
						<img th:if="${postDetail.isAdmin && !postDetail.isMain}" src="/img/subAdmin.png" height="18" width="18">
					</a>
				</div>
				<!-- 작성일 -->
				<div>
					<div class="d-flex">
						<span>작성일: </span>
						<div th:text="${#temporals.format(postDetail.post.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
					</div>
				</div>
			</div>
			
			<!-- 이미지들 -->
			<div class="d-flex flex-wrap">
				<th:block th:each="image, status : ${postDetail.imageList}">
					<a th:href="${image.imagePath}" target="_blank">
						<img th:src="${image.imagePath}" th:alt="|${status.count}번 이미지|" 
						class="mr-2 mt-3" height="300">
					</a>
				</th:block>
			</div>
			<hr>
			
			<!-- 본문 -->
			<!-- 1. 일반글 -->
			<div th:if="${postDetail.tag == null} or ${postDetail.tag.tagType.name() == 'NORMAL'}">
				<div th:text="${postDetail.post.content}" class="p-3 rounded shadow-sm">
				</div>
			</div>
			<!-- 2. 거래글 -->
			<div th:if="${postDetail.tag != null} and ${postDetail.tag.tagType.name() == 'INGAME' or postDetail.tag.tagType.name() == 'REAL'}">
				<!-- 상품명 -->
				<div class="input-group">
					<div class="input-group-prepand">
						<span class="input-group-text">상품명</span>
					</div>
					<output class="form-control" th:text="${postDetail.marketPost.itemName}"></output>
				</div>
				<!-- 가격 -->
				<div class="input-group mt-2">
					<div class="input-group-prepand">
						<span class="input-group-text">가격</span>
					</div>
					<!-- 가격 없을 시 -->
					<th:block th:if="${postDetail.marketPost.price == null} or ${postDetail.marketPost.price == 0}">
						<output class="form-control" >가격없음</output>
					</th:block>
					<!-- 가격 있을 시 -->
					<th:block th:unless="${postDetail.marketPost.price == null} or ${postDetail.marketPost.price == 0}">
						<output class="form-control" th:text="${postDetail.marketPost.price}"></output>
					</th:block>
				</div>
				<!-- 설명 -->
				<div class="input-group mt-2">
					<div class="input-group-prepand">
						<span class="input-group-text">설명</span>
					</div>
					<textarea class="form-control resize-none bg-white" rows="10" th:text="${postDetail.post.content}" readonly></textarea>
				</div>
			</div>
			
			<!-- 좋아요 -->
			<div class="d-flex justify-content-end">
				<a href="#" id="likeBtn" th:data-post-id="${postDetail.post.id}">
					<img src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="18" height="18" alt="empty heart" th:unless="${postDetail.filledLike}" class="mr-1">
					<img src="https://www.iconninja.com/files/527/809/128/heart-icon.png" width="18" height="18" alt="filled heart" th:if="${postDetail.filledLike}" class="mr-1">
					<span th:text="|좋아요 ${postDetail.likeCount}개|" class="text-dark"></span>
				</a>
			</div>
			<hr>
			
			<!-- 댓글(대댓글) 기능 -->
			<div class="rounded shadow-sm p-3">
				<h3>댓글</h3>
				<!-- 댓글 대댓글 노출 -->
				<div th:each="comment : ${postDetail.commentList}" class="mt-1 rounded border shadow-sm">
					<!-- 삭제 안된 댓글일 때 -->
					<th:block th:unless="${comment.comment.isDeleted}">
						<div class="d-flex bg-white justify-content-between p-1">
							<a th:href="|/user/userpage-view?userId=${comment.comment.userId}|">
								<span th:text="${comment.userName}" class="text-dark font-weight-bold"></span>
								<!-- 인증된 유저 -->
								<img th:if="${comment.isComfirmed}"  src="/img/confirmed.png" height="18" width="18">
								<!-- main Admin -->
								<img th:if="${comment.isAdmin && comment.isMain}" src="/img/admin.png" height="18" width="18">
								<!-- sub Admin -->
								<img th:if="${comment.isAdmin && !comment.isMain}" src="/img/subAdmin.png" height="18" width="18">
								<span class="text-dark font-weight-bold">: </span>
							</a>
							<div class="d-flex">
								<!-- 작성일 -->
								<div th:text="${comment.comment.createdAt}" class="text-secondary text-sm mr-1"></div>
								<!-- 신고 -->
								<th:block th:if="${session.userId != null} and ${session.userId != comment.comment.userId}">
									<a th:href="|/report/create-report-view?reportType=COMMENT&fkId=${comment.comment.id}|">
										<img src="https://cdn.pixabay.com/photo/2016/03/31/15/15/revolving-light-1293105_1280.png" 
										alt="신고 이미지" height="18" width="18" class="mr-1">
									</a>
								</th:block>
								<!-- 삭제 -->
								<th:block th:if="${session.userId != null} and ${session.userId == comment.comment.userId}">
									<a href="#" class="commentDeleteBtn mr-1" th:data-comment-id="${comment.comment.id}">
										<img src="https://cdn.pixabay.com/photo/2013/07/13/01/12/trashcan-155299_1280.png" 
										alt="삭제 이미지" height="18" width="18">
									</a>
								</th:block>
								<!-- 대댓글 -->
								<th:block th:if="${session.userId != null}">
									<a href="#" class="subCommentBtn mr-1"  th:data-comment-id="${comment.comment.id}">
										<img src="https://cdn.pixabay.com/photo/2012/04/11/11/21/arrow-27521_1280.png" 
										alt="대댓글 이미지" height="18" width="18">
									</a>
								</th:block>
							</div>
						</div>
						<div class="mt-1">
							<div th:text="${comment.comment.content}" class="ml-2 p-1"></div>
						</div>
					</th:block>
					
					<!-- 삭제 된 댓글일 때 -->
					<th:block th:if="${comment.comment.isDeleted}">
						<div class="bg-white p-2 text-secondary">
							(삭제된 댓글입니다.)
						</div>
					</th:block>
					
					<!-- 대댓글 리스트 -->
					<div class="ml-4">
						<!-- 나머지 댓글과 똑같이 -->
						<div th:each="subComment : ${comment.subCommentList}" class="border m-1 p-1">
							
							<!-- 삭제 안됬을 시 -->
							<th:block th:unless="${subComment.subComment.isDeleted}">
								<div class="d-flex bg-white justify-content-between">
									<a th:href="|/user/userpage-view?userId=${subComment.subComment.userId}|">
										<span th:text="${subComment.userName}" class="text-dark font-weight-bold"></span>
										<!-- 인증된 유저 -->
										<img th:if="${subComment.isComfirmed}"  src="/img/confirmed.png" height="18" width="18">
										<!-- main Admin -->
										<img th:if="${subComment.isAdmin && subComment.isMain}" src="/img/admin.png" height="18" width="18">
										<!-- sub Admin -->
										<img th:if="${subComment.isAdmin && !subComment.isMain}" src="/img/subAdmin.png" height="18" width="18">
										<span class="text-dark font-weight-bold">: </span>
									</a>
									<div class="d-flex">
										<!-- 작성일 -->
										<div th:text="${subComment.subComment.createdAt}" class="text-secondary text-sm mr-1"></div>
										<!-- 신고 -->
										<th:block th:if="${session.userId != null} and ${session.userId != subComment.subComment.userId}">
											<a th:href="|/report/create-report-view?reportType=SUBCOMMENT&fkId=${subComment.subComment.id}|">
												<img src="https://cdn.pixabay.com/photo/2016/03/31/15/15/revolving-light-1293105_1280.png" 
												alt="신고 이미지" height="18" width="18" class="mr-1">
											</a>
										</th:block>
										<!-- 삭제 -->
										<th:block th:if="${session.userId != null} and ${session.userId == subComment.subComment.userId}">
											<a href="#" class="subCommentDeleteBtn mr-1" th:data-comment-id="${subComment.subComment.id}" 
											th:data-post-id="${postDetail.post.id}">
												<img src="https://cdn.pixabay.com/photo/2013/07/13/01/12/trashcan-155299_1280.png" 
												alt="삭제 이미지" height="18" width="18">
											</a>
										</th:block>
									</div>
								</div>
								
								<div class="mt-1">
									<div th:text="${subComment.subComment.content}" class="ml-2 p-1"></div>
								</div>
							</th:block>
							
							<!-- 삭제 됬을 시 -->
							<th:block th:if="${subComment.subComment.isDeleted}">
								<div class="bg-white p-2 text-secondary">
									(삭제된 댓글입니다.)
								</div>
							</th:block>
						</div>
					</div>
					
					<!-- 대댓글 작성창 -->
					<div class="input-group mt-1 p-2 pl-4 d-none subCommentDiv" th:data-comment-id="${comment.comment.id}">
						<input type="text" class="form-control">
						<div class="input-group-append">
							<button type="button"  class="btn btn-success subCommentSubmitBtn" th:data-comment-id="${comment.comment.id}"
							  th:data-post-id="${postDetail.post.id}">등록</button>
						</div>
					</div>
					
				</div>
				<!-- 댓글 입력창 -->
				<div class="input-group mt-2">
					<input type="text" id="comment" class="form-control">
					<div class="input-group-append">
						<button type="button" id="commentSubmitBtn" class="btn btn-success" th:data-post-id="${postDetail.post.id}">등록</button>
					</div>
				</div>
			</div>
			
			<!-- 하단 메뉴 -->
			<div class="d-flex justify-content-between mt-3">
				<!-- 게시판으로 -->
				<a th:href="|/board/post-list-view?boardId=${postDetail.post.boardId}|" 
				class="btn btn-secondary shadow-sm">게시판으로</a>
				<div class="d-flex">
					<!-- 일반 유저일 시 => 신고하기 -->
					<th:block th:if="${session.userId != null} and ${session.userId != postDetail.post.userId}">
						<a th:href="|/report/create-report-view?reportType=POST&fkId=${postDetail.post.id}|" 
						class="btn btn-danger shadow-sm">신고하기</a>
					</th:block>
					<!-- 글쓴이일 시 => 수정, 삭제 -->
					<th:block th:if="${session.userId != null} and ${session.userId == postDetail.post.userId}">
						<!-- 거래글 일 시 => 거래 완료 -->
						<th:block th:if="${postDetail.marketPost != null}">
							<th:block th:unless="${postDetail.marketPost.isDone}">
								<button type="button" id="doneMarketBtn" class="btn btn-success shadow-sm mr-1" th:data-post-id="${postDetail.post.id}">거래 완료</button>
							</th:block>
							<th:block th:if="${postDetail.marketPost.isDone}">
								<div class="rounded bg-secondary shadow-sm text-white text-center p-2 mr-1">거래 완료</div>
							</th:block>
						</th:block>
							<a th:href="|/post/update?postId=${postDetail.post.id}|" class="btn btn-warning shadow-sm mr-1">수정하기</a>
							<button type="button" id="deletePostBtn" class="btn btn-danger shadow-sm" data-toggle="modal" data-target=".modal">삭제하기</button>
					</th:block>
				</div>
			</div>
		</div>
		
		<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		    	<div class="modal-header">
        			<h5 class="modal-title">경고</h5>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        			</button>
      			</div>
      			<div class="modal-body">
        			<p>게시글 삭제시 내용과 댓글, 이미지가 복구되지 않습니다.
        			<br>정말로 삭제하시겠습니까?</p>
      			</div>
			    <div class="modal-footer">
	        		<button type="button" class="btn btn-secondary shadow-sm" data-dismiss="modal">닫기</button>
	        		<button type="button" class="btn btn-danger shadow-sm" id="postDeleteBtn" th:data-post-id="${postDetail.post.id}" 
	        		th:data-board-id="${postDetail.post.boardId}">게시판 삭제</button>
	      		</div>	
		    </div>
		  </div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
    		// 좋아요 버튼
    		$('#likeBtn').on('click', function(e) {
    			e.preventDefault();
    			let postId = $(this).data('post-id');
    			
    			$.ajax({
    				type:'GET'
    				, url: '/like/' + postId
    				, success:function(data) {
    					if(data.code == 200) {
    						location.href = location.href;
    					} else if (data.code == 403) {
    						alert(data.error_message);
    						location.href = '/user/sign-in-view';
    					} else {
    						alert(data.error_message);
    					}
    				}
    				, error:function(e) {
    					alert('좋아요 토글 기능 중 오류가 발생했습니다.');
    				}
    			});
    		});
    		
    		// 거래 완료 버튼
    		$('#doneMarketBtn').on('click', function(e) {
    			e.preventDefault();
    			let postId = $(this).data('post-id');
    			
    			$.ajax({
    				type:'PATCH'
    				, url:'/post/market-end'
    				, data:{
    					'postId':postId
    				}
    				, success:function(data) {
    					if(data.code == 200) {
    						location.href = location.href;
    					} else {
    						alert(data.error_message);
    					}
    				}
    				, error:function(e) {
    					alert('거래 완료 처리중 오류가 발생했습니다.');
    				}
    			});
    		});
    		
    		// 댓글 등록
    		$('#commentSubmitBtn').on('click', function(e) {
    			e.preventDefault();
    			let postId = $(this).data('post-id');
    			// alert(postId);
    			let content = $('#comment').val();
    			// alert(content);
    			
    			// validation
    			if (!content) {
    				alert('댓글 내용이 비어있습니다.')
    				return;
    			}
    			
    			$.ajax({
    				type:'POST'
    				, url:'/comment/create'
    				, data:{
    					'postId':postId
    					, 'content':content
    				}
    				, success:function(data) {
    					if(data.code == 200) {
    						location.reload(true);
    					} else if(data.code == 403) {
    						alert(error_message + '\n정지기간: ' + untilTime);
    					} else {
    						alert(error_message);
    					}
    				}
    				, error:function(e) {
    					alert('댓글 작성 중 오류가 발생했습니다.');
    				}
    			});
    		});
    		
    		// 대댓글창 토글
    		$(document).on('click', '.subCommentBtn', function(e) {
    			e.preventDefault();
    			// alert('대댓글창 열어!');
    			let commentId = $(this).data('comment-id');
    			$(`.subCommentDiv[data-comment-id="${commentId}"]`).toggleClass('d-none');
    			
    		});
    		
    		// 대댓글 등록
    		$('.subCommentSubmitBtn').on('click', function() {
    			let commentId = $(this).data('comment-id');
    			let content = $(this).parents().prev('input').val();
    			let postId = $(this).data('post-id');
    			// alert(content);
    			// console.log(commentId);
    			// console.log(postId);
    			
    			// validation
    			if (!content) {
    				alert('대댓글 내용이 비어있습니다.');
    				return false;
    			}
    			
    			// ajax
    			$.ajax({
    				type:'POST'
    				, url:'/comment/create'
    				, data:{
    					'upperCommentId':commentId
    					, 'content':content
    					, 'postId':postId
    				}
    				,success:function(data) {
    					if(data.code == 200) {
    						location.reload(true);
    					} else if(data.code == 403) {
    						alert(error_message + '\n정지기간: ' + untilTime);
    					} else {
    						alert(data.error_message);
    					}
    				}
    				, error:function(e) {
    					alert('대댓글 작성 중 오류가 발생했습니다.');
    				}
    			});
    		});
    		
    		// 댓글 삭제 (isDeleted => true)
    		$('.commentDeleteBtn').on('click', function(e) {
    			e.preventDefault();
    			let commentId = $(this).data('comment-id');
    			// console.log(commentId);
    			
    			$.ajax({
    				type:'PATCH'
    				, url:'/comment/delete'
    				, data:{
    					'commentType':'comment'
    					, 'id':commentId
    				}
    				, success:function(data) {
    					if(data.code == 200) {
    						location.reload(true);
    					} else {
    						alert(data.error_message);
    					}
    				}
    				, error:function(e) {
    					alert('댓글 삭제 중 오류가 발생했습니다.');
    				}
    			});
    		});
    		
    		// 대댓글 삭제 (isDeleted => true)
    		$(document).on('click', '.subCommentDeleteBtn', function(e) {
    			e.preventDefault();
    			let subCommentId = $(this).data('comment-id');
    			// console.log(subCommentId);
    			
    			$.ajax({
    				type:'PATCH'
    				, url:'/comment/delete'
    				, data:{
    					'commentType':'subComment'
    					, 'id':subCommentId
    				}
    				, success:function(data) {
    					if(data.code == 200) {
    						location.reload(true);
    					} else {
    						alert(data.error_message);
    					}
    				}
    				, error:function(e) {
    					alert('댓글 삭제 중 오류가 발생했습니다.');
    				}
    			});
    		});
    		
    		// 게시글 삭제
    		$('#postDeleteBtn').on('click', function() {
    			let postId = $(this).data('post-id');
    			let boardId = $(this).data('board-id');
    			// console.log(postId);
    			
    			$.ajax({
    				type:'DELETE'
    				, url:'/post/delete'
    				, data:{
    					'postId':postId
    				}
    				, success:function(data) {
    					if(data.code == 200) {
    						location.href = '/board/post-list-view?boardId=' + boardId;
    					} else {
    						alert(data.error_message);
    					}
    				}
    				, error: function(e) {
    					alert('게시글 삭제 중 오류가 발생하였습니다.');
    				}
    			});
    		});
    	});	
    </script>
</th:block>