<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="h-90 col-10 my-2">
		<div class="bg-light shadow rounded my-5 p-3">
			<h1>포인트 충전</h1>
			
			<!-- 충전 금액 설정 및 실행 버튼 -->
			<div class="mt-5 input-group px-2">
				<div class="input-group-prepand">
					<select class="form-control" id="amountSelect">
						<option value="">직접입력</option>
						<option>1000</option>
						<option>5000</option>
						<option>10000</option>
						<option>50000</option>
						<option>100000</option>
					</select>
				</div>
				<input type="number" id="amount" class="form-control bg-white">
				<div class="input-group-append">
					<span class="input-group-text">원</span>
					<button type="button" id="paymentBtn" class="btn btn-success">충전하기</button>
				</div>
			</div>
			
			<!-- 하단 버튼 -->
			<div class="mt-5 d-flex justify-content-start">
				<a href="/user/mypage-view" class="btn btn-secondary shadow-sm">마이페이지</a>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
    		const clientKey = '[[${clientKey}]]';
    		const customerKey = "dABYaib76-XIwFgdlA30u";
    		
    		// select에 따른 input 변경
    		$('#amountSelect').on('change', function() {
    			let selectValue = $(this).val();
    			
    			if(selectValue === "") { // 직접입력
    				$('#amount').val('');
    				$('#amount').prop('readonly', false);
    			} else { // 정해진 값
    				$('#amount').val(selectValue);
    				$('#amount').prop('readonly', true);
    			}
    		});
    		
    		// 결재 요청
    		$('#paymentBtn').on('click', function() {
    			let amount = Number($('#amount').val());
    			// console.log(amount);
    			let email = '[[${user.email}]]';
    			let name = '[[${user.name}]]';
    			
    			// validation
    			
    			if (isNaN(amount) || amount <= 0) {
    				alert('올바른 금액을 입력해주세요.');
    				return;
  				}
    			
    			// AJAX
    			$.ajax({
    				type:'POST'
    				, url:'/point/create-pay'
    				, data:{
    					'amount':amount
    				}
    				, success:function(data) {
    					if(data.code == 200) {
    						alert('결재 정보 저장 성공!');
    						// TODO: tossPayment 시작하기
    						let tossPayments = TossPayments(clientKey);
    						let payment = tossPayments.payment({ customerKey });
    						payment.requestPayment({
    					          method: "CARD" // 카드 결제
    					          , amount: {
    					            currency:'KRW'
    					            , value:amount
    					          }
    					          , orderId: data.orderId // 고유 주분번호
    					          , orderName: amount + " 포인트 결재"
    					          , successUrl: window.location.origin + "/point/create/success?payId=" + data.payId // 결제 요청이 성공하면 리다이렉트되는 URL
    					          , failUrl: window.location.origin + "/point/create/fail?payId=" + data.payId // 결제 요청이 실패하면 리다이렉트되는 URL
    					          , customerEmail: email
    					          , customerName: name
    					          , customerMobilePhone: "01012341234"
    					          // 카드 결제에 필요한 정보
    					          , card: {
    					            useEscrow: false
    					            , flowMode: "DEFAULT" // 통합결제창 여는 옵션
    					            , useCardPoint: false
    					            , useAppCardOnly: false
    					          }
    					        });
    					} else {
    						alert(data.error_message);
    					}
    				}
    				, error:function(e) {
    					alert('포인트 결재 중 오류가 발생했습니다.');
    				}
    			});
    		});
    	});
    </script>
</th:block>