<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="h-90 col-10 my-2">
		<div class="bg-light shadow rounded my-5 p-3">
			<h1>포인트 충전</h1>
			
			<!-- 충전 금액 설정 및 실행 버튼 -->
			<div class="mt-5 input-group px-2">
				<div class="input-group-prepand">
					<select class="form-control" id="amountSelect">
						<option value="">직접입력</option>
						<option>1000</option>
						<option>5000</option>
						<option>10000</option>
						<option>50000</option>
						<option>100000</option>
					</select>
				</div>
				<input type="number" id="amount" class="form-control bg-white">
				<div class="input-group-append">
					<span class="input-group-text">원</span>
					<button type="button" id="paymentBtn" class="btn btn-success">충전하기</button>
				</div>
			</div>
			<!-- 결재 내역 보기 -->
			<div class="d-flex justify-content-end mt-2 mr-2">
				<a href="#" class="text-secondary" id="payListBtn" data-toggle="modal" data-target=".modal">결재내역 보기</a>
			</div>
			
			<!-- 하단 버튼 -->
			<div class="mt-5 d-flex justify-content-start">
				<a href="/user/mypage-view" class="btn btn-secondary shadow-sm">마이페이지</a>
			</div>
		</div>
		
		<!-- 모달창 -->
		<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		    	<div class="modal-header">
        			<h5 class="modal-title">결재 내역</h5>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        			</button>
      			</div>
      			<div class="modal-body">
      				<div id="payList">
	        			<!-- 결재 내역 리스트 나올 부분 -->
	        			<table class="table text-center">
	        				<thead>
	        					<tr>
	        						<th>금액</th>
	        						<th>결재상태</th>
	        						<th>생성일</th>
	        					</tr>
	        				</thead>
	        				<tbody>
	        					<tr th:each="pay : ${payPage.items}">
	        						<td th:text="${pay.amount}"></td>
	        						<td>
	        							<span th:class="${pay.payStatus.getTextColor()}" 
	        							th:text="${pay.payStatus.getStatusText()}"></span>
	        						</td>
	        						<td th:text="${#temporals.format(pay.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
	        					</tr>
	        				</tbody>
	        			</table>
					    <div class="d-flex justify-content-center my-2">
					    	<!-- 페이지 기능 -->
					    	<a th:if="${payPage.nowPage > 1}" id="prevBtn" class="text-primary drag-prevent">Previous</a>
						    <span th:text="'Page ' + ${payPage.nowPage} + ' of ' + ${payPage.totalPages}" class="mx-3"></span>
					        <a th:if="${payPage.nowPage < payPage.totalPages}" id="nextBtn" class="text-primary drag-prevent">Next</a>
			      		</div>
      				</div>
      			</div>
		    </div>
		  </div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
    		const clientKey = '[[${clientKey}]]';
    		const customerKey = '[[${customerKey}]]';
    		
    		// select에 따른 input 변경
    		$('#amountSelect').on('change', function() {
    			let selectValue = $(this).val();
    			
    			if(selectValue === "") { // 직접입력
    				$('#amount').val('');
    				$('#amount').prop('readonly', false);
    			} else { // 정해진 값
    				$('#amount').val(selectValue);
    				$('#amount').prop('readonly', true);
    			}
    		});
    		
    		// 결재 요청
    		$('#paymentBtn').on('click', function() {
    			let amount = Number($('#amount').val());
    			// console.log(amount);
    			let email = '[[${user.email}]]';
    			let name = '[[${user.name}]]';
    			
    			// validation
    			
    			if (isNaN(amount) || amount <= 0) {
    				alert('올바른 금액을 입력해주세요.');
    				return;
  				}
    			
    			// AJAX
    			$.ajax({
    				type:'POST'
    				, url:'/point/create-pay'
    				, data:{
    					'amount':amount
    				}
    				, success:function(data) {
    					if(data.code == 200) {
    						// alert('결재 정보 저장 성공!');
    						// TODO: tossPayment 시작하기
    						let tossPayments = TossPayments(clientKey);
    						let payment = tossPayments.payment({ customerKey });
    						payment.requestPayment({
    					          method: "CARD" // 카드 결제
    					          , amount: {
    					            currency:'KRW'
    					            , value:amount
    					          }
    					          , orderId: data.orderId // 고유 주분번호
    					          , orderName: amount + " 포인트 결재"
    					          , successUrl: window.location.origin + "/point/create/success?payId=" + data.payId // 결제 요청이 성공하면 리다이렉트되는 URL
    					          , failUrl: window.location.origin + "/point/create/fail?payId=" + data.payId // 결제 요청이 실패하면 리다이렉트되는 URL
    					          , customerEmail: email
    					          , customerName: name
    					          , customerMobilePhone: "01012341234"
    					          // 카드 결제에 필요한 정보
    					          , card: {
    					            useEscrow: false
    					            , flowMode: "DEFAULT" // 통합결제창 여는 옵션
    					            , useCardPoint: false
    					            , useAppCardOnly: false
    					          }
    					        });
    					} else {
    						alert(data.error_message);
    					}
    				}
    				, error:function(e) {
    					alert('포인트 결재 중 오류가 발생했습니다.');
    				}
    			});
    		});
    		
    		// 결재내역 보기 a 태그 기본기능 없애기
    		$('#payListBtn').on('click', function(e) {
    			e.preventDefault();
    		});
    		
    		let page = [[${payPage.nowPage}]];
    		
    		function pageMove() {
    			$.ajax({
    				type:'GET'
    				, url:'/point/pay-list-view'
    				, data:{
    					'page':page
    				}
    				, success:function(response) {
    					$('#payList').html(response);
    				}
    				, error:function(e) {
    					alert('결재 리스트 출력 중 오류가 발생했습니다.');
    				}
    			});
    		}
    		
    		// 이전 버튼
    		$(document).on('click', '#prevBtn', function(e) {
    			page--;
    			// console.log(page);
    			pageMove();
    		});
    		
    		// 이후 버튼
    		$(document).on('click', '#nextBtn', function(e) {
    			page++;
    			// console.log(page);
    			pageMove();
    		});
    	});
    </script>
</th:block>