<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="h-90 col-10 my-2">
		<!-- 기본 정보 수정 -->
		<div class="bg-light shadow rounded my-2 p-3">
			<h1>프로필 수정</h1>
			<div>
				<div class="input-group mb-3">
  					<div class="input-group-prepend">
    					<span class="input-group-text">닉네임</span>
  					</div>
  					<input th:value="${user.name}" type="text" id="name"class="form-control" placeholder="이름을 입력하세요.">
				</div>
				<div class="input-group mb-3">
  					<div class="input-group-prepend">
    					<span class="input-group-text">자기소개</span>
  					</div>
  					<textarea th:text="${user.introduce}" id="introduce" class="form-control" placeholder="자기소개를 입력하세요"></textarea>
				</div>
				
				<!-- 이미지 -->
				<div class="d-flex justify-content-start">
					<input type="file" id="file" accept=".jpg, .png, .gif">
				</div>
				
				<!-- 수정 버튼 -->
				<div class="d-flex justify-content-end">
					<button type="button" id="userUpdateBtn" class="btn btn-success shadow">정보수정</button>
				</div>
			</div>
		</div>
		<!-- 본인 인증 -->
		<div class="bg-light shadow rounded p-3">
			<h1>본인 인증</h1>
			<div class="d-flex justify-content-between align-items-center">
				<th:block th:if="${user.isConfirmed} == true">
					<h3 class="text-success">인증이 완료 된 유저입니다.</h3>
				</th:block>
				<th:block th:unless="${user.isConfirmed} == true">
					<h3 class="text-danger">인증되지 않은 유저입니다.</h3>
					<button type="button" id="confirmUserBtn" class="btn btn-primary shadow">인증하기</button>
				</th:block>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function(){
    		$('#userUpdateBtn').on('click', function() {
    			let name = $('#name').val().trim();
    			let introduce = $('#introduce').val().trim();
    			let fileName = $('#file').val();
    			// console.log(introduce);
    			
    			// validation
    			if(!name) {
    				alert('닉네임을 입력하세요');
    				return;
    			}
    			if(!introduce) {
    				alert('자기소개를 입력하세요');
    				return;
    			}
    			if(fileName) {
    				// alert('이미지 있다');
    				let extension = fileName.split('.').pop().toUpperCase();
    				// console.log(extension);
    				if($.inArray(extension, ['JPG', 'PNG', 'GIF']) == -1) {
    					// 배열중에 있을 시에는 index 번호, 없으면 -1
    					alert('이미지 파일(jpg, png, gif)만 업로드 할 수 있습니다.');
    					$('#file').val('');
    					return;
    				}
    			}
    			
    			let formData = new FormData();
    			formData.append("name", name); // key는 form의 name과 같음 - request param명
    			formData.append("introduce", introduce);
    			formData.append("file", $('#file')[0].files[0]);
    			// console.log($('#file')[0].files[0]);
    			
    			// AJAX
    			$.ajax({
    				// request
    				type:"PATCH"
    				, url:"/user/update"
    				, data:formData // FormData 통째로 보낼 수 있다
    				// FormData로 보낼 때 아래 3가지 옵션이 필수적
    				, processData:false // data의 속성의 값이 문자열 처리되지 않게함
    				, contentType:false // 헤더에 콘텐츠 타입을 false로 해제
    				, enctype:"multipart/form-data" // 이미지 파일이 전송되게 하는 옵션
    				// response
    				, success:function(data) {
    					if(data.code == 200) {
    						// 성공일 때 alert => 목록 화면
    						alert('수정 완료!');
    						location.href = '/user/mypage-view';
    					} else {
    						// 로직 상 실패일 때 alert
    						alert(data.error_message);
    					}
    				}
    				, error:function(e) {
    					alert('유저 정보를 수정하는데 실패했습니다.');
    				}
    			});
    		});
    	});
    </script>
</th:block>