<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="h-90 col-10 my-2">
		<!-- 상단 정보 표시 -->
		<section class="d-flex justify-content-between bg-secondary rounded h-50 mb-1 shadow">
			<!-- 프로필 이미지 -->
			<div class="d-flex h-100 justify-content-center align-items-center col-4">
				<!-- 프로필 이미지 없을 때 -->
				<th:block th:if="${user.imagePath} == null">
					<img src="https://cdn.pixabay.com/photo/2021/07/25/08/03/account-6491185_1280.png"
					alt="유저 프로필 이미지" width="250" height="250">
				</th:block>
				<!-- 프로필 이미지 있을 때 -->
				<th:block th:unless="${user.imagePath} == null">
					<img th:src="${user.imagePath}" alt="유저 프로필 이미지" width="250" height="250" class="img-circle shadow">
				</th:block>
			</div>
			<!-- 정보 수정 버튼 & 기본 정보 & 로그아웃 버튼 -->
			<div class="col-8">
				<!-- 정보 수정 버튼 -->
				<div class="d-flex justify-content-end">
					<th:block th:if="${session.userId} == ${user.id}">
						<a href="/user/user-update-view"><img src="https://www.iconninja.com/files/860/824/939/more-icon.png" alt="유저 정보수정 버튼" height="30"></a>
					</th:block>
				</div>
				<!-- 기본 정보 -->
				<div class="mt-5 py-2">
					<div class="text-left">
						<div class="d-flex">
							<h2 th:text="${user.name}"></h2>
							<img th:if="${user.isConfirmed}" src="/img/confirmed.png" height="18" width="18">
						</div>
						<h4 th:text="|(${user.loginId})|" class="text-light"></h4>
						<th:block th:if="${user.introduce} != null">
							<span th:text="${user.introduce}"></span>
						</th:block>
					</div>
				</div>
				<!-- 로그아웃 버튼 -->
				<div class="d-flex justify-content-end mt-5">
					<th:block th:if="${session.userId} == ${user.id}">
						<a href="/user/sign-out" class="btn btn-dark shadow">로그아웃</a>
					</th:block>
				</div>
			</div>
		</section>
		<!-- 최근 게시글 및 댓글 -->
		<section class="d-flex h-50">
			<!-- 최근 게시글 -->
			<aside class="bg-light rounded mr-2 w-50 p-2 shadow overflow-auto">
				<h2>최근 게시글</h2>
				<table class="table">
					<tbody>
						<tr th:each="post : ${top5PostList}" class="shadow-sm rounded">
							<td>
								<span th:text="|(${post.boardName})|" 
								class="text-secondary small"></span>
							</td>
							<td>
								<a th:href="|/post/post-detail-view?postId=${post.postId}|" class="text-dark">
									<span th:text="${post.postName}" class="text-overflow font-weight-bold"></span>
								</a>
							</td>
							<td>
								<span th:text="${#temporals.format(post.createdAt, 'yyyy.MM.dd HH:mm')}" 
								class="small text-secondary"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</aside>
			<!-- 최근 댓글 -->
			<aside class="bg-light w-50 p-2 shadow overflow-auto">
				<h2>최근 댓글</h2>
				<table class="table">
					<tbody>
						<tr th:each="comment : ${top5CommentList}" class="shadow-sm rounded">
							<td>
								<a th:href="|/post/post-detail-view?postId=${comment.postId}|" class="text-dark">
									<span th:text="${comment.content}" class="text-overflow font-weight-bold"></span>
								</a>
							</td>
							<td>
								<span th:text="${#temporals.format(comment.createdAt, 'yyyy.MM.dd HH:mm')}" 
								class="small text-secondary"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</aside>
		</section>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	
    </script>
</th:block>